{% extends "base_admin.html" %} {% block admincontent %}
<div class="mt-5">
  {% if nom_url == 'add_article' %}
  <h1>Ajouter un article</h1>

  <form method="POST" class="mt-5 mb-3">
    {% csrf_token %}
    <div class="mb-3 row">
      <label for="exampleFormControlInput1" class="col-sm-2 form-label">Titre</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="exampleFormControlInput1" name="title" placeholder="Titre de l'article" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="exampleFormControlTextarea1" class="col-sm-2 form-label">Description</label>
      <div class="col-sm-7">
        <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="4" placeholder="Description de l'article"></textarea>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="exampleFormControlInput1" class="col-sm-2 form-label">Nom de l'image</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="exampleFormControlInput1" name="image" placeholder="Nom de l'image dans le dossier static/assets/images" />
      </div>
    </div>
    <input class="btn btn-dark" type="submit" value="Ajouter l'article" />
  </form>

  <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titre</th>
      <th scope="col">Description</th>
      <th scope="col">Image utilisée</th>
    </tr>
  </thead>
  <tbody>
  {% for article in articles %}
    <tr>
      <th scope="row">{{article.id}}</th>
      <td>{{article.title}}</td>
      <td>{{article.description}}</td>
      <td>{{article.image}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

  {% else %}

  <h1>Ajouter un projet</h1>

  <form method="POST" class="mt-5 mb-3">
    {% csrf_token %}
    <div class="mb-3 row">
      <label for="exampleFormControlInput2" class="col-sm-2 form-label">Titre</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="exampleFormControlInput2" name="title" placeholder="Titre du projet" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="exampleFormControlTextarea2" class="col-sm-2 form-label">Description</label>
      <div class="col-sm-7">
        <textarea class="form-control" id="exampleFormControlTextarea2" name="description" rows="4" placeholder="Description du projet"></textarea>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="exampleFormControlInput2" class="col-sm-2 form-label">Nom de l'image</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="exampleFormControlInput2" name="image" placeholder="Nom de l'image dans le dossier static/assets/images" />
      </div>
    </div>
    <input class="btn btn-dark" type="submit" value="Ajouter le projet" />
  </form>
</div>

<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titre</th>
      <th scope="col">Description</th>
      <th scope="col">Image utilisée</th>
    </tr>
  </thead>
  <tbody>
  {% for project in projects %}
    <tr>
      <th scope="row">{{project.id}}</th>
      <td>{{project.title}}</td>
      <td>{{project.description}}</td>
      <td>{{project.image}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endif %} 

{% endblock admincontent %}
