{% extends "base_admin.html" %} {% block admincontent %}
<div class="px-4 py-5 my-5 text-center">
  <i class="fa-solid fa-screwdriver-wrench display-2 mb-4"></i> 
  <h1 class="display-5 fw-bold">Panneau d'administration</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">    
        Bienvenue dans notre panneau d'administration ! Ici, vous pouvez facilement ajouter des articles ou des projets pour mettre à jour le contenu de notre site. Profitez d'une interface conviviale pour saisir les détails essentiels tels que les titres, descriptions et images associées. Restez en contrôle total de votre contenu en quelques clics.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href={% url 'admin_url' 'add_article' %}><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Ajouter un article</button></a>
      <a href={% url 'admin_url' 'add_project' %}><button type="button" class="btn btn-secondary btn-lg px-4">Ajouter un projet</button></a>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3">
      <a href={% url 'blog' %}><button type="button" class="btn btn-outline-primary btn-lg px-4 gap-3">Vers les articles</button></a>
      <a href={% url 'portfolio' %}><button type="button" class="btn btn-outline-secondary btn-lg px-4">Vers les projets</button></a>
    </div>
  </div>
</div>
{% endblock admincontent %}
